
<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    
    <node pkg="social_nav" type="talker_pedestrians.py" name="talker_pedestrians"/>
    


    <node name="talker_pedestrians" pkg="social_nav" type="talker_pedestrians.py" respawn="false" output="screen" >
        <param name="turtle" type="string" value="turtle1" />
    </node>
    <node name="talker_pedestrians" pkg="social_nav" type="talker_pedestrians.py" respawn="false" output="screen" >
        <param name="turtle" type="string" value="turtle2" /> 
    </node>
    <node name="talker_pedestrians" pkg="social_nav" type="talker_pedestrians.py" respawn="false" output="screen" >
        <param name="turtle" type="string" value="turtle3" /> 
    </node>
    <node name="talker_pedestrians" pkg="social_nav" type="talker_pedestrians.py" respawn="false" output="screen" >
        <param name="turtle" type="string" value="turtle4" /> 
    </node>

</launch>
